<template>
      <footer class="footer mt-auto py-3 bg-dark text-center    ">
    <div class="container">
      <h5 class="text-white text-uppercase mb-0">
        Made with <strong style="color: red">❤ </strong>4 YOU
      </h5>
    </div>
  </footer>
</template>

<script>
export default {
      name: 'Footer'
};
</script>