<template>
  <section class="py-5">
    <div class="container">
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <img src="../assets/img/office.jpg" class="img-fluid card-img-top" />
          <div class="card-body">
            <h3 class="card-title">Welcome to Sciences-U Data Company</h3>
            <h5 class="card-title">Have a nice lugat coffee ?</h5>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
              dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id
              dolores, sint aperiam sequi pariatur praesentium animi
              perspiciatis molestias iure, ducimus ! 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
      name: 'HomeContent'
};
</script>