<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
    <div class="container">
      <a class="navbar-brand">🤖 Sciences-U Data Company 🤖</a>
      <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link active" to="/">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link active" to="teams">Teams</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
      name: 'Navbar'
};
</script>