<template>
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
       <!-- <img src="..." class="img-fluid rounded-start" /> -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { recipientsGroup } from "@/assets/js/recipientsGroup";

export default {
  name: "DetailsTeams",
  data: () => ({
    detailsTeams: recipientsGroup,
    currentTeam:null,
  }),
  methods: {

  },
  created() {
    const teamId = this.$router.params.teamId
    this.currentTeam = teamId;
    console.log(teamId)
    this.currentTeam = this.detailsTeams.find((item) => item.id == teamId)
  }
};
</script>