<template>
  <section class="py-5">
    <div class="container">
      <div class="col-lg-10 mx-auto">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-uppercase">Nos équipes !</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li
              v-for="team in allTeams"
              :key="team.id"
              class="list-group-item text-center"
            >
              L'équipe {{ team.title }} {{ team.icon }}
              <button type="button" @click="openTeamsDetails(team.id)"  class="btn btn-dark">Voir l'équipe</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { recipientsGroup } from "@/assets/js/recipientsGroup";

export default {
  name: "TeamContent",
  data: () => ({
    allTeams: recipientsGroup,
  }),
  methods: {
    openTeamsDetails(teamId) {
      this.$router.push({
        name: "TeamsDetails",
        params: { teamId: teamId },
      });
    },
  },
};
</script>